<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MQTT Showcase</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="jumbotron">
    <h1>MQTT Web Client</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="host">Host</label>
            <input type="text" class="form-control" id="host" name="host" value="broker.mqttdashboard.com">
            <label for="port">Port</label>
            <input type="text" class="form-control" id="port" name="port" value="1883">
        </div>
        <button type="submit" class="btn-primary btn-md">Connect</button>
        <h3 style="color: green">{{ connection_result }}</h3>
    </form>
</div>
</body>
</html>