<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MQTT Showcase</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- JQuery -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<div class="jumbotron">
    <h1>MQTT Web Client</h1>
    <form method="POST" id="connection_form">
        {% csrf_token %}
        <h2>Connection</h2>
        <input type="hidden" name="hiddenattr" value="connect">
        <div class="form-group container">
            <!-- Basic Info -->
            <div class="row">
                <div class="col-xs-2">
                    <label for="host">Host</label>
                    <input type="text" class="form-control" id="host" name="host" value="broker.mqttdashboard.com">
                </div>
                <div class="col-xs-2">
                    <label for="port">Port</label>
                    <input type="text" class="form-control" id="port" name="port" value="1883">
                </div>
                <div class="col-xs-2">
                    <label for="client_id">Client ID</label>
                    <input type="text" class="form-control" id="client_id" name="client_id">
                </div>
            </div>
            <!-- Connection Button -->
            <div class="row">
                <div class="col-xs-2">
                    <button type="submit" name="connect_btn" id="connect_btn" class="btn btn-primary btn-md" value="connect">Connect</button>
                </div>
                <div class="col-xs-2">
                    <h3 style="color: green" id="connection_result"></h3>
                </div>
            </div>

            <!-- Aditional Info -->
            <div class="row">
                <div class="col-xs-2">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" id="username">
                </div>
                <div class="col-xs-2">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" id="password">
                </div>
                <div class="col-xs-2">
                    <label for="keep_alive">Keep Alive</label>
                    <input type="text" class="form-control" name="keep_alive" id="keep_alive" value="60">
                </div>
            </div>
        </div>
    </form>

    <!-- Publish Section -->
    <form method="POST" id="publish_form">
        {% csrf_token %}
        <h2>Publish</h2>
        <input type="hidden" name="hiddenattr" value="publish">
        <div class="form-group container">
            <div class="row">
                <div class="col-xs-2">
                    <label for="topic">Topic</label>
                    <input type="text" class="form-control" id="topic" name="topic">
                </div>
                <div class="col-xs-2">
                    <label for="message">Message</label>
                    <input type="text" class="form-control" id="message" name="message">
                </div>
                <br>
                <div class="col-xs-2">
                    <button type="submit" id="publish_btn" class="btn btn-primary btn-md">Publish</button>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
<script type="text/javascript">
    // Prevent page from reloading upon submission of connection form
    $('#connection_form').on('submit', function (e) {
        e.preventDefault();

        // Send POST request if the user wants to connect
        if ($('#connect_btn').text() === 'Connect'){
            var frm = $('#connection_form');
            post_connect(frm);
        } else {
            post_disconnect();
            $('#connect_btn').text('Connect');
            $('#connection_result').text('');
        }
    });

    $('#publish_form').on('submit', function (e) {
        e.preventDefault();

        if ($('#message').val().length !== 0 && $('#topic').val().length !== 0){
            var frm = $('#publish_form');
            post_connect(frm);
        } else {
            window.alert('Enter valid Topic and Message.')
        }

    });

    // Send POST request to the server with given form's data
    //  to begin/publish MQTT connection/topic
    function post_connect(frm) {
        $.ajax({
            url: '/ajaxconnect/',
            type:'POST',
            data:frm.serialize(),

            success: function (json) {
                if (json['message'] === 'Not Connected'){
                    // Prompt the user if he's trying to publish without connection
                    window.alert('Please Connect First');
                } else if(document.activeElement.getAttribute('value') === 'connect') {
                    // Change connect button value if connection was established
                    console.log('Ajax Connection success');
                    var pressed = document.getElementById('connect_btn');
                    $('#connect_btn').text('Disconnect');
                    $('#connection_result').text('Connected');
                }
            },
            error: function (xhr,errmsg,err) {
                console.log('Ajax Connection Fail');
            }
        });
    }

    // Send POST request to the server to end MQTT connection
    function post_disconnect() {
        $.ajax({
            url: '/ajaxdisconnect/',
            type: 'POST',
            data: {csrfmiddlewaretoken:'{{ csrf_token }}'},

            success: function () {
                console.log('Ajax Disconnection Success');
            },
            error: function () {
                console.log('Ajax Disconnection Fail');
            }
        });
    }
</script>
</html>